
/* tag selectors */
h1{
  color:red;
  font-size: 200px;
}
img:hover{
  background-color: gold;
}

/* class selectors */
.bacon{
  background-color: red;
}
.broccoli{
  background-color: green;
}
/* id selectors */
#heading{
  color:blue;
}
